Flask
flask-cors
gunicorn
google-generativeai
google-ai-generativelanguage
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
serpapi
requests
python-dotenv
pydantic
pydantic-core
PyPDF2
pillow
pytesseract
docx2txt
tqdm
typing_extensions
cachetools
cachelib
rsa
protobuf
msgspec
markupsafe
jinja2
werkzeug
itsdangerous
typing-inspection
httplib2
google-search-results
gTTS
